@charset "UTF-8";

/* 
    Project 09 04

    Author: Ryan Wahl
    Date: 1.16.19
    File Name: mc_forms.css

*/

/* General Form Styles */
div.formRow {
    display: block;
    padding: 10px;
    margin-left: 10px;
}

div#zipDiv {
    display: inline;
}

textarea {
    width: 400px;
    height: 200px;
}

button {
    height: 50px;
    font-size: 0.8em;
    background-color: rgb(90, 186, 250);
    color: white;
}

button:hover {
    background-color: rgb(113, 193, 247);
    cursor: pointer;
}

fieldset {
    border: none;
    margin-top: 20px;
}

button {
    margin-left: 10px;
}

label {
    font-size: 1em;
}

legend {
    font-size: 1.5em;
    background-color: rgb(0, 162, 255);
    width: 100%;
    border-radius: 10px;
    margin-left: -10px;
    text-indent: 20px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

input#streetId {
    width: 350px;
}

@media only screen and (max-width: 481px) {
    div#zipDiv {
        display: block;
        margin-top: 10px;
    }

    input#streetId {
        width: 150px;
    }

    textarea {
        height: 150px;
    }

    button {
        width: 25%;
    }

    button:first-of-type {
        margin-left: 6%;
    }

    button:last-of-type {
        margin-right: 6%;
    }
}

@media only screen and (min-width: 481px) {
    button {
        width: 20%;
    }

    button:first-of-type {
        margin-left: 20%;
    }

    button:last-of-type {
        margin-right: 10%;
    }
}

/* Validation Styles */
input:valid:focus {
    background: rgb(168, 247, 168) url("mc_go.png") right no-repeat;
}

input:invalid:focus {
    background-color: rgb(253, 188, 188);
    background-image: url("mc_stop.png");
    background-position: right;
    background-repeat: no-repeat;
}

input#phoneId:invalid,
input#zipId:invalid {
    background-image: url("mc_stop.png");
    background-position: right;
    background-repeat: no-repeat;
}

/* 
    Input Styles
*/
input {
    box-sizing: border-box;
}

input[type="text"],
input[type="tel"] {
    border: none;
    border-bottom: 2px solid rgb(67, 167, 250);
}

input[type="text"]:focus,
input[type="tel"]:focus {
    border: none;
    border-bottom: 3px solid blue;
    outline: none;
}

input[type="checkbox"] {
    border: none;
}

select {
    border: 1px solid blue;
}

select:focus {
    outline: none;
    border: 2px solid rgb(67, 167, 250);
}


/* 
    Text Area Styles
*/

textarea {
    border: 2px solid rgb(67, 167, 250);
    width: 100%;
    font-size: 0.8em;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 2px solid blue;
}