@charset "UTF-8";

/* 
    Project 09 04

    Author: Ryan Wahl
    Date: 1.16.19
    File Name: mc_styles.css

    Basic Styles for the webpage. For the forms styles see mc_forms.css

*/

/* 
    Body Styles 
*/
html {
    /* Set the background color to blue */
    background-color: rgb(79, 79, 248);
}

body {
    /* Sets the background color to white. */
    background-color: white;
    /* Sets the width of the body to 85% of the screen width */
    width: 85%;
    /* Centers the body */
    margin: auto;
    padding: 0;
    /* Adds in box shadowing around the body. */
    box-shadow: 0px 0px 20px black;

}

h1 {
    text-align: center;
    font-size: 2em;
}

/* 
    Footer Styles 
*/
footer {
    /* Centers the footer text */
    text-align: center;
    /* Sets the background to darkgray */
    background-color: darkgray;
    /* Sets the text color to white */
    color: white;
}

/* The first paragraph in the footer */
footer>p:first-of-type {
    /* Sets the bottom margin to 1 pixel */
    margin-bottom: 1px;
}

/* The last paragraph in the footer */
footer>p:last-of-type {
    /* Sets the top margin to 3 pixels and the bottom margin to 0. */
    margin-top: 3px;
    margin-bottom: 0;
}

/* 
    Header Styles 
*/
header>img {
    /* Sets the width of the image to 100% */
    width: 100%;
}

/* 
    Media Styles for the navigation bar 
*/
header>nav a {
    /* Sets the background color to blue*/
    background-color: rgb(64, 144, 248);
    /* Sets the text color to white */
    color: white;
    /* Sets the box sizing to border box */
    box-sizing: border-box;
}



header>nav a:visited.active,
header>nav a:link.active {
    /* Sets the background color to blue and the text color to white */
    background-color: rgb(59, 152, 228);
    color: white;
}

header>nav a:hover,
header>nav a:link {
    /* Sets the background color to blue and the text color to white */
    background-color: rgb(30, 175, 233);
    color: white;
}

@media only screen and (max-width: 480px) {

    /* Sets the navigation width to 100% so it spans across the entire top. */
    header>nav {
        width: 100%;
    }

    header>nav a {
        /* Removes all of the underlines. */
        text-decoration: none;
    }

    header nav ul {
        /* Sets the display of flex to unordered list */
        display: -webkit-flex;
        display: flex;
        /* Sets the flow to column with no wrapping. */
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        /* Removes the bullet points */
        list-style-type: none;
        /* Makes the ul span across the screen */
        width: 100%;
        /* Zero out paddings and margins. */
        padding: 0;
        margin: 0;
    }

    header nav li,
    header nav a {
        /* Centers the text */
        text-align: center;
        /* Sets the width to 100% */
        width: 100%;
        /* Makes the link go from an inline to block. */
        display: block;
    }

    header nav a {
        /* Adds a padding of 5 around the links. */
        padding: 5px;
    }

}

@media only screen and (min-width: 481px) {

    /* Navigation Styles */
    header>nav {
        /* Sets the display of the nav to table. */
        display: table;
        /* Makes the nav bar span across the entire screen. */
        width: 100%;
    }

    header>nav a {
        /* Adds a padding of 10 pixels around the link */
        padding: 10px;
        /* Removes the underline */
        text-decoration: none;
    }

    nav>ul {
        /* Sets the display to table-row */
        display: table-row;
    }

    nav>ul>li {
        /* Sets the display to table-cell */
        display: table-cell;
        text-align: center;
    }

    nav>ul>li>a {
        /* Sets the display to block. */
        display: block;
    }
}

/* 

    Generic Media Styles

*/
@media only screen and (max-width: 490px) {
    body {
        /* Sets the width of the body to 100% */
        width: 100%;
    }
}